@* Views/Shared/_SocialLoginPartial.cshtml *@

<div class="social-login">
    <div class="social-login-separator">
        <span>Đăng nhập nhanh với</span>
    </div>

    <div class="social-login-buttons">
        <a href="#" class="social-btn facebook" title="Đăng nhập bằng Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-btn google" title="Đăng nhập bằng Google">
            <i class="fab fa-google"></i>
        </a>
    </div>

    <div class="social-login-separator">
        <span>hoặc</span>
    </div>
</div>
